.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.loginContainer
{
  width: 80%;
  margin: auto;
}

.inputDiv
{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

.inputDiv p
{
  width: 30%;
  font-size: 1.6vw;
}

.inputDiv input
{
  width: 70%;
}

.mySessionToken
{
  font-size: 1.3vw;
}

.errorMsg
{
  font-size: 1.8vw;
  color: red;
  font-weight: bolder;
}

.submitBtn
{
  font-size: 2vw;
  background-color: rgb(26, 179, 239);
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  padding: 1% 0%;
  width: 20.5%;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}